@import url('https://fonts.googleapis.com/css2?family=Goldman');

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #3a6073,
    #16222a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #3a6073,
    #16222a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-family: 'Goldman', sans-serif;
  color: white;
  letter-spacing: 1px;
}

h1 {
  margin: 4px;
}

.board {
  display: grid;
  grid-template: repeat(10, 40px) / repeat(10, 40px);
  background: rgb(5, 16, 73);
  background: radial-gradient(
    circle,
    rgba(5, 16, 73, 1) 27%,
    rgba(0, 0, 34, 1) 70%
  );
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px inset #f3f4f6;
}

.boards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

button,
input {
  appearance: none;
  outline: none;
  font-size: inherit;
}

.board > button {
  background-color: transparent;
  border: 1px solid #f3f4f6;
  padding: 10px;
  position: relative;
  cursor: crosshair;
}

.board.player.initial > button[class]:hover,
.board:not(.player) > button[class='hit']:hover,
.board:not(.player) > button[class='miss']:hover {
  background-color: red;
}

.board.player.initial > button:not([class]):hover,
.board:not(.player) > button:hover {
  background-color: aquamarine;
}

.board.player > button.carrier,
.board.player > button.battleship,
.board.player > button.submarine,
.board.player > button.destroyer,
.board.player > button.patrolBoat {
  border: 3px dashed aqua;
}

.board.player > button.carrier::after {
  background: url(./images/carrier.svg);
}
.board.player > button.battleship::after {
  background: url(./images/battleship.svg);
}
.board.player > button.submarine::after {
  background: url(./images/submarine.svg);
}
.board.player > button.destroyer::after {
  background: url(./images/destroyer.svg);
}
.board.player > button.patrolBoat::after {
  background: url(./images/patrolBoat.svg);
}

.board.player > button.carrier::after,
.board.player > button.battleship::after,
.board.player > button.submarine::after,
.board.player > button.destroyer::after,
.board.player > button.patrolBoat::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-size: cover;
}

button.hit::after,
button.miss::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: ' ';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button.hit::after {
  background: rgb(142, 4, 0);
  background-image: radial-gradient(circle, #ff0000, #8d0101);
}

button.miss::after {
  background-color: white;
}

.message-container {
  background-color: black;
  color: lime;
  padding: 8px;
  letter-spacing: normal;
  width: 100%;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  min-width: 200px;
}

.message-container::before {
  content: '>';
  margin: 0px 4px;
}

.change-orientation {
  border-radius: 6px;
  color: inherit;
  background-color: #16222a;
  border-radius: 1px solid black;
  padding: 8px;
  text-transform: uppercase;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  width: 150px;
}

.change-orientation:hover {
  background-color: #293e4d;
}

dialog {
  border: 2px solid #9ca3af;
  background-color: rgb(5, 16, 73);
}

input {
  color: lime;
  background-color: black;
  padding: 8px;
}

input:focus {
  border: 2px solid lime;
}

dialog button {
  background-color: #16222a;
  color: white;
  border-radius: 6px;
  padding: 8px;
  text-transform: uppercase;
  font-family: inherit;
}

label {
  color: white;
  display: block;
  margin-bottom: 8px;
  font-size: 1.2rem;
}
